@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #527359;
  --color-secondary: #BED173;
  --color-accent: #88abda;
  --color-dark: #333133;
  --color-light: #faf5f0;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.z-background {
  z-index: -1;
}

/* Lenis recommended styles */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
